.adv {
    padding-top: 100px;
    padding-bottom: 100px;
}

.adv .container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.adv .btn {
    margin: 60px 0;
}

.adv {
    background-position: center;
    background-size: cover;


}
.adv__description {
    max-width: 86%;
}
