.top-logo > img {
  width: 169px;
  height: 28px;
}

.header-row {
  height: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

#header .nav-icon-pc {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#header .nav-icon-pc .nav {
  display: flex;
  height: 100%;
}
#header .nav > li {
  display: flex;
  height: 100%;
  align-items: center;
}
#header .nav > li > a {
  margin-right: 30px;
  align-items: center;
  display: flex;
  height: 50%;
}
/* #header .nav > li:hover, */
#header .nav > li > a:hover {
  border-radius: 5%;
  color: white;
  background-color: var(--green-color);
  transition: 0.4s;
}

.nav > li,
.icon {
  display: inline;
}

#header {
  height: 120vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.big-text {
  font-weight: bold;
  color: var(--primary-color);
}

.header__icon > div::before {
  margin: 0 10px 0 0;
}

.nav > li > a {
  color: var(--title-color);
  font-family: var(--header-font-md);
  font-size: 15px;
  line-height: 1.2;
}

.font-size-90 {
  font-size: 85px;
}

.header__sub-title {
  font-size: 22px;
  font-family: var(--contain-font);
  color: var(--contain-color);
  line-height: 1.2;
  margin: 30px 0 90px 0;
}

.header__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.down-arrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}
.index-app-btn > a {
  margin-right: 30px;
}
.header__navbar-icon {
  display: none;
}
.header__nav-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.2s;
}
.header__nav-table {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  max-width: 320px;
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.3s, opacity linear 0.3s;
}
.header__nav-table-list {
  color: black;
  font-size: 1.4rem;
  display: grid;
  grid-gap: 10px 20px;
  padding: 20px;
}
.header__nav-table-list li {
  grid-column: 1/4;
}
.header__nav-table-list li:first-child {
  height: 3em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid;
  border-color: rgba(116, 132, 148, 0.2);
}

.header__nav-table-list li:first-child i,
.header__nav-table-list label {
  font-size: 2em;
}
.header__nav-table-list label,
.header__nav-table-list i {
  max-width: 40px;
  width: 100%;
  color: var(--primary-color);
}

.header__nav-table-list li a {
  color: var(--title-color);
}
#header__nav-checkbox {
  display: none;
}
#header__nav-checkbox:checked ~ .header__nav-overlay {
  display: block;
}
#header__nav-checkbox:checked ~ .header__nav-table {
  opacity: 1;
  transform: translateX(0);
}

.header__nav-menu {
  display: none;
}
.header__nav-table .header__nav-table-btn {
  display: none;
  margin-top: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-fixed {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 3;
}
.header-fixed .header-row {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.fake-class {
  height: 100px;
}
#move-to-top > a > img {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  z-index: 4;
}
