#testimonial .big-title {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

.testimonial__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 30px;
}

.testimonial__item {
    border-radius: 5px;
    background-color: 246, 164, 106;
    box-shadow: 0px 20px 70px 0px rgba(209, 209, 209, 0.4);
    padding: 30px;
}

.testimonial__profile {
    margin: 30px 0 70px 0;

    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
}

.testimonial__profile-avatar {
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__profile__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.testimonial__profile-stars .flaticon-star::before {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: rgb(246, 164, 106);
}

.testimonial__profile-role {
    color: var(--contain-color);
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.testimonial__profile-name {
    font-size: 16px;
    text-transform: capitalize;
}

.testimonial__profile-stars {
    display: flex;

}

.testimonial__partner {
    margin-top: 100px;
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial__partner__item {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    /* background-size: contain; */
}
.testimonial__sign-up div {
    text-align: left !important;
    max-width: 60%;
}
.testimonial__sign-up div:nth-child(2) {
    /* text-align: left !important; */
    max-width: 40%;
    padding-bottom: 50px;
}
.testimonial__sign-up {
    position: relative;
    top: 100px;
    border-radius: 5px;
    background-color: rgb(248, 250, 255);
    box-shadow: 0px 20px 70px 0px rgba(209, 209, 209, 0.4);
    padding-left: 100px;
    background-size: cover;
}
.testimonial__sign-up__big-title {
    margin: 0 !important;
    padding-top: 120px;
    padding-bottom: 50px;
}
.testimonial__sign-up div:last-child {
    padding-bottom: 100px;
}