.try-it {
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.download-btn-green {
    background-color: var(--green-color);

}

.try-it__row {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.try-it__title {
    margin-top: 0 !important;
    text-align: center;

}

.try-it__sub-title {
    margin: 5px 0 70px 0 !important;
    font-size: 20px !important;
    max-width: 500px;
    text-align: center;
}